@{
    ViewBag.Title = "Services";
}

<h1>Our Services</h1>
<p>We offer a wide range of wedding planning services to make your special day unforgettable.</p>
<!-- Detailed descriptions of services -->