@{
    ViewBag.Title = "Venue Details";
}

<h1>Venue 1 Details</h1>
<img src="~/Content/venue1.jpg" alt="Venue 1" style="height:400px; width:400px"/>
<p>Full description of Venue 1.</p>
<p>Capacity: 200 people</p>
<p>Location: City, State</p>
<p>Price: $1000</p>
<a href="/Home/Venues">Back to Venues</a>