@{
    ViewBag.Title = "Babysitting Venues";
}

<h1>Babysitting Venues</h1>
<p>Explore our safe and fun venues for babysitting.</p>
<!-- List of venues -->
<div>
    <div class="venue">
        <img src="~/Content/venue1.jpg" alt="Venue 1" style="height:400px; width:400px" />
        <h2>Venue 1</h2>
        <p>Description of Venue 1</p>
        <p>Price: $100</p>
        <a href="/Home/VenueDetails/1">More Details</a>
    </div>
    <div class="venue">
        <img src="~/Content/venue2.jpg" alt="Venue 2" style="height: 400px; width: 400px" />
        <h2>Venue 2</h2>
        <p>Description of Venue 2</p>
        <p>Price: $150</p>
        <a href="/Home/VenueDetails/2">More Details</a>
    </div>
    <!-- More venues -->
</div>